<div class="slider">
    <ul class="slides">
        <li>
            <a href="/products/phones/samsung-galaxy-m51">
                <img src="/images/banner/banner_sm.png" style="max-height: 250px;">
            </a>
        </li>
        <li>
            <a href="/products/earphones/truke-fit-buds">
                <img src="/images/banner/banner_eb.png" style="max-height: 250px;">
            </a>
        </li>
        <li>
            <a href="/products/phones/oneplus-8t-5g">
                <img src="/images/banner/banner_op.png" style="max-height: 250px;">
            </a>
        </li>
    </ul>
</div>