<%- include('./partials/header'); %>

<div>

    <div class="container">
        <div class="card horizontal medium row">
            <div class="card-image col s3">
                <img src="/images/card_img.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h6 class="header">Forgot password</h6>
                    <p>Enter your registered email to get password reset link</p>
                    <div class="row">
                        <form action="/auth/forgot-password" method="POST">
                            <div class="form-group input-field col s12">
                                <i class="material-icons prefix">mail_outline</i>
                                <input id="email" name="email" class="form-control" type="email">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-group card-action right-align">
                                <button class="form-control btn waves-effect waves-light" type="submit">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('./partials/footer'); %>