<%- include('./partials/header'); %>
</main>
<style>
    #grad1 {
        background-image: linear-gradient(#DDF6FC, white);
    }
</style>
<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://picsum.photos/id/237/800/200">
            <div class="caption right-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/id/512/800/200">
            <div class="caption left-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/id/542/800/200">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://picsum.photos/id/754/800/200">
            <div class="caption right-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>

<div id="grad1">
    <div class="row container">
        <h4 class="header">Heading</h4>
        <p class="grey-text text-darken-3 lighten-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet
            exercitationem rerum odio iusto iure illum eum?</p>
    </div>
    <div class="row">
        
    </div>

    <div class="row container">
        <h4 class="header">Another Heading</h4>
        <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste eius
            officiis minima rerum quis aliquam numquam non sed! Quae, exercitationem?</p>
    </div>
    <div class="row">
        
    </div>
</div>
<%- include('./partials/footer'); %>