<%- include('./partials/header'); %>

<div class="col s12 m8 l9">
    <div class="row">
        <div class="container">
            <%- content %>
        </div>
    </div>
</div>


<%- include('./partials/footer'); %>