<%- include('./partials/header_minimal'); %>

<div>

    <div class="container">
        <div class="card horizontal medium row">

            <div class="card-image col s3">
                <img src="/images/card_img.jpg">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5 class="header">Change password</h5>
                    <p>Make sure your password is longer than 6 characters</p>
                    <br>
                    <div class="row">
                        
                        <form action="/auth/reset-password" method="POST">
                            <input name="token" class="form-control" type="hidden" value="<%= token %>">
                            <div class="form-group input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password" name="password" class="form-control" type="password">
                                <label for="password">New Password</label>
                            </div>
                            <div class="form-group input-field col s12">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password2" name="password2" class="form-control" type="password">
                                <label for="password2">Confirm New Password</label>
                            </div>
                            <div class="form-group card-action right-align">
                                <button class="form-control btn waves-effect waves-light" type="submit">Submit
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <%- include('./partials/footer'); %>