 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }


 .input-field input[type=search] {
    height: 64px !important;
}

nav .input-field label.active i {
    color: #546e7a;
}

#autocomplete-label-mobile {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}

nav {
    background-color: #ffffff;
}

#autocomplete-label {
    -webkit-transform: translateY(0px) !important;
    transform: translateY(0px) !important;
}


 .brand-logo {
     margin-left: 1vw;
 }

 a.brand-logo {
     font-size: medium;
 }

 i.icon-grey {
     color: #6e6e6e;
 }

 tbody.move {
     cursor: move;
 }

 .ui-state-hightlight {
     border: 2px dashed rgb(32, 32, 32);
 }

 .sidenav {
     padding: 12px;
 }

 *:focus {
     outline: none;
 }

 .input-fields {
     margin-bottom: 5vh;
 }

 .page-title {
     font-size: xx-large;
     font-weight: 600;
 }

 .ck-editor__editable {
     min-height: 300px !important;
 }

 #imgPreview {
    margin: 20px;
    vertical-align: middle;
 }


 #productTableImage {
    width: 150px;
 }

 img {
    text-align: center;
    max-width: 100%;
 }


 .collapsible-header{
    padding: 0.4rem;
    line-height: 1;
 }

 .collapsible-body {
    padding: 1.4rem;
}

.order-item-title{
    font-size: 1.3rem;
    color: #353535;
}


.status-text{
    font-size: 1.4em;
    margin-bottom: 32px;
}

.Confirmed-text{
    color: rgb(5, 184, 109);
}

.Cancelled-text{
    color: rgb(236, 75, 75);
}


.helper-txt {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
  }