 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

 .brand-logo {
     margin-left: 1vw;
 }

 .input-field input[type=search] {
     height: 64px !important;
 }

 nav .input-field label.active i {
     color: #546e7a;
 }

 #autocomplete-label {
     -webkit-transform: translateY(0px) !important;
     transform: translateY(0px) !important;
 }

 #autocomplete-label-mobile {
     -webkit-transform: translateY(0px) !important;
     transform: translateY(0px) !important;
 }

 a.brand-logo {
     font-size: medium;
 }

 .pimage {
     max-width: 150px;
 }

 a.pa {
     display: inline-block;
     height: 160px;
 }

 .row.products .p {
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .product-main-image {
     width: 100%;
 }

 .product-image-thumb {
     margin: 5px;
     max-width: 80px;
 }

 .cart-product-image {
     width: 100%;
 }

 .cart-card {
     margin: 6px;
     padding: 6px;
 }

 .togglePassword {
     -webkit-user-select: none;
     /* Safari */
     -ms-user-select: none;
     /* IE 10+ and Edge */
     user-select: none;
     /* Standard syntax */
 }

 .togglePasswordNew {
     -webkit-user-select: none;
     /* Safari */
     -ms-user-select: none;
     /* IE 10+ and Edge */
     user-select: none;
     /* Standard syntax */
 }

 .loginTableRow {
     outline: none;
     border: none;
 }

 i.icon-grey {
     color: rgb(119, 119, 119);
 }

 .menu-icon {
     color: rgb(42, 126, 194);
 }

 .tabs {
     overflow: hidden
 }

 .google {
     width: 50%;
     margin: 0 auto;
 }

 li a {
     color: #212121;
 }

 a h5 {
     color: #212121;
 }

 *:focus {
     outline: none;
 }

 .vertical-card-img {
     max-width: 50px;
 }

 #filter-modal {
     min-height: 85% !important;
 }

 #FAB {
     border-radius: 36px;
 }

 .noUi-handle-touch-area {
     z-index: 5;
 }

 #add-new-address {
     padding: 0;
     border-top: 0;
 }

