<%- include('../partials/header'); %>

<div class="col s12 m8 l9">
    <div class="row">
        <div class="container center-align">
            <h4>
                Ahhhhhhhhhhhhh!! This page doesn't exists.
            </h4>
            <p >404 Not found</p>
            <a href="/" >Back to homepage</a>
        </div>
    </div>
</div>


<%- include('../partials/footer'); %>