<%- include('../partials/header'); %>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<div>
    <div style="text-align: center;">
        <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_ed9D2z.json" background="transparent"
            speed="0.2" style="width: 100px; height: 100px; margin: 0 auto;" loop autoplay>
        </lottie-player>
        <p><%= paytmError %> </p>
        <a href="/">Back to homepage</a>
    </div>

</div>

<%- include('../partials/footer'); %>